* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
}

.header__flex {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.header__left,
.header__right {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 37px;
}

.logo__img {
    margin-right: 13px;
}

.form {
    display: flex;
    align-items: center;
}

.cart {
    margin-right: 26px;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu__link {
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    padding: 20px;
}

.promo {
    height: 613px;
    background-color: #e8e8e8;
}

.promo__flex {
    height: 100%;
    background-image: url(img/promo-back.jpg);
    background-position: 0 -52px;
    display: flex;
    align-items: center;
}

.promo__content {
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
}

.promo__text {
    color: #222222;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 31px;
}

.promo__text_big {
    font-size: 60px;
    line-height: 43px;
    margin-bottom: 20px;
}

.pink {
    color: #f16d7f;
}

////

.product_header{
  width: 348px;
  height: 51px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap; 

}

.product__suptitle{
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  text-align: center;
}
.product__title{
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
}



.button{
  background: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
}


.product {
    position: relative;
    width: 261px;
    margin-bottom: 39px;
}

.product__name {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.product__price {
    margin-top: 17px;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.product__content {
    padding: 19px 14px;
}

.product__add {
    position: absolute;
    top: 98px;
    left: 70px;
    display: none;
    justify-content: center;
    align-items: center;
    width: 123px;
    height: 39px;
    line-height: 39px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
}

.product__add:hover {
    box-shadow: 0 0 10px #ffffff;
}

.product:hover .product__add {
    display: flex;
}

.product:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.product:hover .product__img {
    filter: brightness(50%);
}

.product-box {
    padding-top: 60px;
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
}

.offer_box{
  display: flex;
  flex-wrap: wrap;
  height: 30px;
}
.offer{
  position: relative;
  width: 261px;
  margin-bottom: 39px;
  height: 30px;
}
