*  {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
}

.header__flex {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.header__left,
.header__right {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 37px;
}
.logo_text{
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.68px;
  color: #3e3e40;
}

.logo__img {
    margin-right: 13px;
}

.form {
    display: flex;
    align-items: center;
}

.cart {
    margin-right: 26px;
}
.cart_button {
display: flex;
justify-content: space-around;
align-content: center;
align-items: center;
width: 120px;
background: #f16d7f;
margin: 50px 0 40px;
padding-left: 20px;
padding-right: 20px;
}

.button_account {
color: #ffffff;
display: block;
padding: 10px 0px;
text-align: center;
font-size: 15px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0.38px;
}

.triangle {
width: 0;
height: 0;
border-style: solid;
border-width: 6px 4.5px 0 4.5px;
border-color: #ffffff transparent transparent transparent;
}


.menu {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu__list {
    position: relative;
}

.menu__link {
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    padding: 20px;
}



.menu__list:hover .drop{
    display: flex;
}

.drop {
    padding: 12px 20px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    display: none;
    position: absolute;
    top: 50px;
    left: -4px;
}

.drop::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    top: -7px;
    left: 32px;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

.drop__h3 {
    color: #232323;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    width: 235px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: 8px;
}

.drop_last {
    left: auto;
    right: -5px;
}

.drop_last::before {
    left: auto;
    right: 52px;
}

.drop__flex {
    margin-right: 46px;
}

.drop__flex:last-of-type {
    margin-right: 0;
}

.drop__ul {
    list-style-type: none;
}

.drop__link {
    color: #646464;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    line-height: 28px;
}

.promo {
    height: 613px;
    background-color: #e8e8e8;
}

.promo__flex {
    height: 100%;
    background-image: url(img/promo-back.jpg);
    background-position: 0 -52px;
    display: flex;
    align-items: center;
}

.promo__content {
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
}

.promo__text {
    color: #222222;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 31px;
}

.promo__text_big {
    font-size: 60px;
    line-height: 43px;
    margin-bottom: 20px;
}

.pink {
    color: #f16d7f;
}

////

.product_header{
  width: 348px;
  height: 51px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;

}

.product__suptitle{
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  text-align: center;
}
.product__title{
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
  text-align: center;
}

.product {
    position: relative;
    width: 261px;
    margin-bottom: 39px;
}

.product__name {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.product__price {
    margin-top: 17px;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.product__content {
    padding: 19px 14px;
}

.product__add {
    position: absolute;
    top: 98px;
    left: 70px;
    display: none;
    justify-content: center;
    align-items: center;
    width: 123px;
    height: 39px;
    line-height: 39px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
}

.product__add:hover {
    box-shadow: 0 0 10px #ffffff;
}

.product:hover .product__add {
    display: flex;
}

.product:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.product:hover .product__img {
    filter: brightness(50%);
}

.product-box {
    padding-top: 60px;
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
}




.sales {
  height: 823px;
  margin: 98px;
}

.sales__flex{
  height: 100%;
  margin: 98px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sales_left{
  height: 823px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.sales_man{
  height: 542px;
  width: 560px;
  background-image: url("img/Layer_30.jpg");
  /* display: flex;
  align-items: center; */
}
.content_sales_acces{
  height: 261px;
  width: 560px;
  background-color: #dadad2;
  background-size: 100%;
}
.sales_acces{
  height: 240px;
  width: 411px;
  background-image: url("img/Layer_37.jpg");
  background-position: 10px 0;

}

.sales_text{
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}

.sales_right{
  height: 823px;
  justify-content: space-between;
  width: 560px;
  display: flex;
  flex-direction: column;
}

.sales_woman{
  height: 261px;
  width: 560px;
  background-image: url("img/Layer_32.jpg");
}
.sales_kid{
  height: 542px;
  width: 560px;
  background-image: url("img/Layer_31.jpg");
}

.sales_card {
    position:  relative;
}

.sales_info {
    position: absolute;
    top: 42px;
    left: 0;
    background: white;
}


.product {
    width: 261px;
    position: relative;
    margin-bottom: 39px;
}

.product__name {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.product__price {
    margin-top: 17px;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.product__content {
    padding: 19px 14px;
}

.product__add {
    position: absolute;
    top: 98px;
    left: 70px;
    display: none;
    justify-content: center;
    align-items: center;
    width: 123px;
    height: 39px;
    line-height: 39px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
}

.product__add:hover {
    box-shadow: 0 0 10px #ffffff;
}

.product:hover .product__add {
    display: flex;
}

.product:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.product:hover .product__img {
    filter: brightness(50%);
}

.product-box {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.button{
  background: #f16d7f;
	color: #ffffff;
	display: block;
	width: 220px;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
	margin-top: 50px;
}
.central_button{
  margin-bottom: 113px;
}

.offer_box{
  display: flex;
  flex-wrap: wrap;
  width: 1140px;
  height: 530px;
  background: #222224;
  margin-bottom: 39px;
}
.offer{
  width: 1140px;
  height: 530px;
  display: flex;
}
.offer__title{
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.offer__suptitle{
  letter-spacing: 1.5px;
  font-size: 32px;
  letter-spacing: 0.9px;
}
.offer_left{
  height: 529px;
  width: 779px;
  display: flex;
  flex-direction: column;
  background-image: url("img/offer.jpg");
  background-repeat: no-repeat;
}
.offer_gradient{
  position: absolute;
  background-image: url("img/Layer_39.jpg");
  height: 529px;
  width: 779px;
}
.offer_text{
  position: absolute;
  padding-top: 150px;
  padding-left: 39px;
}

.offer_right {
  height: 529px;
  width: 345px;
  display: flex;
  flex-direction: column;
  /* padding: 115px; */
}

.offer_text_right{
  line-height: 24px;
  width: 219px;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  /* padding-top: 50px; */

}
.offer_text_big{
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.offer_right_content{
  padding-left: 35px;
  padding-top: 55px;
  display: flex;
  flex-direction: column;
}
.offer_img img{
  padding-right: 40px;
}
.offer_delivery p{
  padding-left: 90px;
}
.offer_sales p{
  padding-left: 80px;
}
.offer_quality p{
  padding-left: 85px;
}
.offer_sales{
  padding-top: 60px;
}
.offer_quality{
  padding-top: 60px;
}

.comment{
  margin-top: 100px;
 height: 438px;
}

.comment_flex {
  height: 431px;
  width: 1618px;
  background-image: url(img/Layer_41.jpg);
  display: flex;
  background-repeat: no-repeat;
  flex-wrap: wrap;
}
.comment_left{
  height: 171;
  width: 479;
  padding-left: 240px;
  padding-top: 110px;
  display: flex;
  flex-wrap: wrap;
}
.comment_right{
  height: 122px;
  width: 390px;
  padding-left: 165px;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
}
.comment_text_left{
  width: 390px;
  padding-left: 30px;
  color: #222224;
  font-size: 16px;
  letter-spacing: 0.4px;
}
.comment_text_pink{
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  font-weight: 700;
  letter-spacing: 0.4px;
  font-style: bold;
  padding-top: 20px;
}
.comment_text_italic{
  font-style: italic;
}
.comment_right p{
  text-align: center;
}
.comment_text_right{
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-transform: uppercase;

}
.comment_text_right_big{
  color: #222224;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
}
.footer{
  height: 460px;
  width: auto;
  display: flex;
  justify-content: center;
  padding-top: 130px;

}

{
  box-sizing: border-box;
}
.example{
  display: flex;
  padding-top: 35px;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;

    color: #222224;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
  border: 1px solid transparent;
  float: left;
  width: 200px;
  background: #e1e1e1;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 120px;
  padding: 10px;
  background: #f16d7f;
  border-radius: 0 23px 23px 0;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.35px;
  border: 1px solid transparent;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: grey;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.about{
  width: 430px;
  height: 180px;
}

.about_list{
  height: 340px;
  padding-left: 130px;
}

.footer_text{
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  line-height: 24px;
  padding-top: 30px;
}

.about_list{
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-between;
  height: 260px;
}
.about_list h1{
  padding-bottom: 20px;
}
.footer__link{
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  letter-spacing: 0.4px;
}
.logo_footer {
    display: flex;
    align-items: center;
    margin-right: 37px;
}
.logo_footer_text{

  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.68px;
  color: #3e3e40;
}

.logo_footer_img {
    margin-right: 13px;
}

.about_header{
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}
.copyright{
  height: 80px;
  background-color: #e6e6e6;
  display: flex;
}
.copyright_brand{
  padding-top: 30px;
}
.copyright_content{
  display: flex;
  justify-content: space-between;
}
.copyright_left{
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
}
.social{
  display:flex;
  justify-content: space-between;
  width: 200px;
}
.fab:hover{
  background-color: #f16d7f;
}

.fab{
  font-size: 18px;
  padding: 5px 0;
  color: #b2b2b2;
}
.social_card:hover{
  background: #f16d7f;
}
.social_card{
   background: #ffffff;
    color: #ffffff;
    display: block;
    width: 32px;
    height: 32px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    margin-top: 50px;
}
